body {
  font-family: "Poppins", sans-serif;
  margin: 0;
}
.foodIn {
  background-color: rgb(90, 117, 177);
  height: 70px;
  width: 100%;
  padding-left: 25px;
  padding-right: 40px;
  display: flex;
  font-family: initial;
}
.home1 {
  padding-right: 250px;
  padding-left: 30px;
}
.home2 {
  padding-right: 250px;
}
.home3 {
  padding-right: 250px;
}
.orange-color {
  color: orangered;
  font-size: 50px;
}
.font {
  font-size: 56px;
}
.link {
  text-decoration: none;
  background-image: linear-gradient(orange, tomato);
  padding: 10px 40px;
  border-radius: 10px;
  font-weight: 700;
  color: white;
}

.half-width {
  width: 50%;
  padding-left: 5%;
}
.half-width_1 img {
  padding-right: 500px;
  padding-top: 50px;
}
.tex {
  padding-left: 250px;
  padding-top: 120px;
}

.flexible-container {
  display: flex;
  margin: 5%;
}
.top_banner {
  background-image: url(images/shapes/7.png);
}
.title {
  padding-top: 15px;
  padding-bottom: 40px;
}
.half-width_1 img {
  width: 80%;
  padding-left: 50px;
}

.lorem {
  padding-right: 20px;
  text-decoration: none;
}
.link_2 {
  text-decoration: none;
  background-image: linear-gradient(orange, tomato);
  padding: 10px 40px;
  border-radius: 10px;
  font-weight: 700;
  color: white;
}
.food_iteam_1 {
  text-align: center;
}
.flexible-container-2 {
  display: flex;
}
.pic img {
  width: 80%;
}
.pic {
  padding-right: 10px;
}
.flow {
  width: 40%;
  height: 100%;
  background-color: white;
  padding-top: 130px;
  padding-bottom: 100px;
  text-align: center;
}
.center1 {
  display: flex;
  padding-left: 450px;
  padding-right: 100px;
}
.center2 {
  display: flex;
  padding-right: 80px;
}
.style-1 {
  white-space: nowrap;
}

footer {
  text-align: center;
}
.col {
  text-decoration: none;
  background-color: rgb(27, 24, 32);
  height: 120px;
  padding-top: 5px;
}
.f {
  color: burlywood;
}
.net {
  color: rgb(63, 63, 122);
}
.cl {
  color: white;
}
